<!DOCTYPE html>
<html lang="es"  xmlns:th="http://www.thymleaf.org">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>WikiAnime</title>

    <!-- CSS only -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css"
        integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">

    <!-- JS, Popper.js, and jQuery -->
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"
        integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj"
        crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"
        integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo"
        crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js"
        integrity="sha384-OgVRvuATP1z7JjHLkuOU7Xw704+h835Lr+6QL9UvYjZE3Ipu6Tp75j7Bh/kR0JKI"
        crossorigin="anonymous"></script>

    <link rel="shortcut icon" href="https://img.icons8.com/metro/26/000000/yin-yang.png" />

</head>

<body style="background-color: #42AFAF;">

    <nav class="navbar navbar-expand-lg navbar-light"
        style="background-color: #002A32; position: fixed; width: 100%; z-index: 1001;">
        <a class="navbar-brand" href="/perfil/" style="color: #00D6D6;">
            <img src="https://img.icons8.com/metro/26/000000/yin-yang.png" width="30" height="30"
                class="d-inline-block align-top" alt="" loading="lazy">
            WikiAnime
        </a>
        <span th:text="${#authentication.getPrincipal().getUsername()}" style="color: #00D6D6;"></span>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
            aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item active">
                </li>
                <li class="nav-item">
                </li>
                <li class="nav-item dropdown">
                </li>
                <li class="nav-item">
                </li>
            </ul>
            <div>
                <a class="navbar-brand" href="/perfil/agregar_anime" style="color: #00D6D6;">
                    Agregar Anime
                </a>
            </div>
            <div>
                <a class="navbar-brand" href="/perfil/agregar_temporada" style="color: #00D6D6;">
                    Agregar Temporada
                </a>
            </div>
            <div>
                <form th:action="@{/logout}" th:method="post">
                 
                    <button type="submit" class="btn btn-info btn-lg" >
                     Cerrar sesion
                    </button> 
                  </form>
            </div>
        </div>
    </nav>
    <div class="container" style="padding-top: 85px;">
        <div class="row">
            <div class="col-8"
                style="background-color: white; border-bottom-left-radius: 15px; border-top-left-radius: 15px; padding-top: 25px; padding-bottom: 25px;">
                <h4 style="color: #002A32;">Agregar Anime</h4>
                <form style="padding-top: 25px;" th:action="@{/perfil/agregando_anime}" th:method="post">
                    <div class="form-group">
                        <label for="exampleInputNombre" style="color: #002A32;">Nombre</label>
                        <input type="text" class="form-control" id="exampleInputNombre" name="nombre" required>
                    </div>
                    <div class="form-group">
                        <label for="exampleInputImg" style="color: #002A32;">Imagen</label>
                        <input type="url" class="form-control" id="exampleInputImg" name="imagen" required>
                    </div>
                    <div class="form-group">
                        <label for="exampleInputCap" style="color: #002A32;">Capitulos</label>
                        <input type="number" class="form-control" id="exampleInputCap" name="capitulo" required>
                    </div>
                    <div class="form-group">
                        <label for="exampleFormControlDes" style="color: #002A32;">Descripcion</label>
                        <textarea class="form-control" id="exampleFormControlDes" rows="3" name="descripcion" style="resize: none;"
                            required></textarea>
                    </div>
                    <input type="hidden" th:value="${#authentication.getPrincipal().getUsername()}" name="user"  style="color: #00D6D6;">
                    <div class="form-group">
                        <label for="exampleFormControlSelect" style="color: #002A32;">Categoria</label>
                        <select class="form-control" id="exampleFormControlSelect" name="categoria">
                            <option>Seleccionar</option>
                            <option>Shonen</option>
                            <option>Fantasia</option>
                            <option>Accion</option>
                            <option>Aventura</option>
                            <option>Deportes</option>
                        </select>
                    </div>
                    <button type="submit" class="btn btn-primary"
                        style="background-color: #00D6D6; border-color: #00D6D6; color: #002A32;">Agregar</button>
                </form>
            </div>
            <div class="col-4"><img src="https://i.pinimg.com/originals/d1/33/1d/d1331dc4a7db20646ba0ec77e174fceb.jpg"
                    alt=""
                    style="width: 100%; height: 100%; border-bottom-right-radius: 15px; border-top-right-radius: 15px;">
            </div>
        </div>
    </div>
</body>

</html>